* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  min-height: 100vh;
}
header {
  border-bottom: 1px solid #404;
  padding: 1rem;
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  max-width: 500px;
  margin: 0 auto;
}
input {
  margin: 0.25rem 0rem;
}
input[type="text"],
input[type="password"],
input[type="email"] {
  padding: 0.5rem 1rem;
}
input[type="submit"] {
  padding: 0.5rem 1rem;
}
main {
  overflow: auto;
  padding: 1rem;
  flex-grow: 1;
}
footer {
  text-align: center;
  padding: 1rem;
  border-top: 1px solid #404;
}
