
@fancy-font: 'Berkshire Swash', cursive;
@color-blue-deep: hsla(217, 100%, 50%, 1);
@color-purple-deep: hsla(20, 100%, 50%, 1);
@color-blue-light: hsla(186, 100%, 69%, 1);

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: sans-serif;
}

.width{
	margin: 0 auto;
	padding: 1rem;
	&.narrow{
		max-width: 700px;
	}
	&.wide{
		max-width: 900px;
	}
}

.page{
	background: hsla(217, 100%, 50%, 1);
	background: linear-gradient(45deg, @color-blue-deep 0%, @color-blue-light 100%);
	height: 100vh;
	padding: 1rem;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

header{

	flex-grow: 1;
	flex-shrink: 0;

	.width{
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;
	};

	.floater{
		background-color: @color-blue-deep;
		box-shadow: -4px 4px 16px 0px fade(black, 50%);
		padding: 2rem;
	}

	#intro{
		text-align: center;
		h1{
			font-family: @fancy-font;
			color: white;
			font-size: 3em;
			margin-bottom: 1rem;
		}
		p{
			color: white;
			font-style: italic;
			margin: 1rem 0;
		}
	}

	form{
		display: flex;
		flex-direction: column;
		label{
			color: fade(white, 90%);
			margin-top: 1rem;
			margin-bottom: 0.25rem;
		}
		input{
			margin: 0.25rem 0;
			border: none;
			padding: 0.5rem;
			font-size: 1em;
		}
		input[type="text"],input[type="password"]{
			// background-color: red;
			background-color: fade(white, 100%);
			border-bottom: 4px solid white;
			border-top: 4px solid white;
			&:hover{
				border-bottom: 4px solid lighten(@color-purple-deep, 30%);
			}
			&:focus{
				border-bottom: 4px solid lighten(@color-purple-deep, 10%);
			}
		}
		input[type="submit"]{
			background-color: lighten(@color-purple-deep, 10%);
			margin-top: 1rem;
			padding: 1rem;
			color: white;
			font-weight: bold;
			box-shadow: -4px 4px 8px 0px fade(black, 20%);
			cursor: pointer;
			&:hover{
				background-color: lighten(@color-purple-deep, 20%);
			}
			&.disabled{
				background-color: greyscale(lighten(@color-purple-deep, 10%));
			}
		}
		.error{
			color: lighten(@color-purple-deep, 35%);
			text-align: center;
			margin-top: 1rem;
			font-weight: bold;
			&.no{
				display: none;
			}
		}
		a{
			text-align: center;
			cursor: pointer;
			color: fade(@color-blue-light, 50%);
			text-decoration: underline;
			margin-top: 0.5rem;
			&:hover{
				color: fade(@color-blue-light, 100%);
			}
		}
	}
}

footer{
	color: fade(black, 40%);
	text-align: center;
	font-size: 1em;
}
